<div class="site-content">
  <div class="stafftools-page-header clearfix">
    <span class="assignment-icon assignment-icon-individual left">
      <%= octicon 'repo', height: 22 %>
    </span>

    <h2 class="stafftools-heading">
      Assignment repository <%= @assignment_repo.id %>
    </h2>

    <p class="assignment-type text-muted">Assigment repository</p>
  </div>

  <div class="boxed-group">
    <h3>General information</h3>

    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized">ID</td>
          <td><%= @assignment_repo.id %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Owned by</td>
          <td><%= link_to @assignment_repo.organization.title, stafftools_organization_path(@assignment_repo.organization.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Created by</td>
          <td><%= link_to @assignment_repo.creator.github_user.login, stafftools_user_path(@assignment_repo.creator) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Assignment</td>
          <td><%= link_to @assignment_repo.assignment.title, stafftools_assignment_path(@assignment_repo.assignment.id) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">User</td>
          <td><%= link_to @assignment_repo.user.github_user.login, stafftools_user_path(@assignment_repo.user) %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Created on</td>
          <td><%= local_time(@assignment_repo.created_at) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="boxed-group">
    <h3>GitHub repository</h3>
    <div class="boxed-group-inner">
      <table>
        <tr>
          <td class="text-emphasized">Repository ID</td>
          <td><%= @assignment_repo.github_repo_id %></td>
        </tr>
        <tr>
          <td class="text-emphasized">Source code</td>
          <td><%= link_to @assignment_repo.github_repository.html_url, @assignment_repo.github_repository.html_url %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="boxed-group dangerzone">
    <h3>Delete assignment repository</h3>
    <div class="boxed-group-inner">
      <p>This will remove the assignment repository from GitHub Classroom, and will attempt to delete the repository from GitHub</p>
      <p>
        <a data-remodal-target="delete-assignment-repo" class="btn btn-danger">Delete this assignment repository</a>
      </p>
    </div>
  </div>

  <div class="remodal text-left" data-remodal-id="delete-assignment-repo">
    <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
    <h2 class="remodal-header">Are you ABSOLUTELY sure?</h2>

    <div class="remodal-warning">
      This action <strong>CANNOT</strong> be undone.
    </div>

    <%= form_for stafftools_assignment_repo_path(@assignment_repo), html: { method: 'delete' } do |f| %>
      <%= f.submit 'Delete this assignment repo', class: 'btn btn-danger btn-block' %>
    <% end %>
  </div>
</div>
